# Copy to tutorial.env and adjust if needed.
export CMSSW_BASE=/afs/cern.ch/user/z/zhdong/work/Xbbgg/CMSSW_14_1_0_pre4
export TUTORIAL_SAMPLES_ROOT=/eos/user/z/zhdong/public/flashgg-finalfit-tutorial
export MX=1000
export MY=125
export SKIP_SIGNAL_SYST=1
